<template>
  <div class="home container-fluid text-start">
    <p v-show="fileList.length === 0" class="text-secondary">There's nothing here...</p>
    <FileList :fileList="fileList" />
  </div>
</template>

<script lang="ts">
    import { defineComponent } from "vue";
import FileList from "@/components/FileList.vue"; // @ is an alias to /src
import { getFiles } from "@/func/upload";

export default defineComponent({
    name: "Home",
    data() {
        return {
            fileList: []
        };
    },
    components: {
        FileList,
    },

    mounted() {
        getFiles().then(res => {
            this.fileList = res.data ?? [];
        }).catch(() => {
            console.log("failed to get files");
        });

    }
});
</script>
