<template>
  <div class="upload">
    <UploadForm />
  </div>
</template>

<script lang="ts">
import { defineComponent } from "vue";
import UploadForm from "@/components/UploadForm.vue"; // @ is an alias to /src

export default defineComponent({
  name: "Upload",
  components: {
    UploadForm,
  },
});
</script>
