<template>
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-sm-6 text-start">
        <h1 class="mb-3 fw-bold">Upload</h1>
        <p>Put your data on the Cloud™</p>

        <form v-on:submit.prevent="formSubmit">
          <label for="name" class="form-label">Name</label>
          <input v-model="fileTitle" required placeholder="filename here" id="name" type="text" class="form-control mb-4" />

          <label for="file" class="form-label">Upload your file</label>
          <input id="file" type="file" required class="form-control mb-5" ref="filepicker"/>

          <button type="submit" class="btn btn-primary w-100">Upload</button>
        </form>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
    import { defineComponent } from "vue";
import { getFiles, uploadFile } from "@/func/upload";

export default defineComponent({
    name: "UploadForm",

    data() {
        return {
            fileTitle: ""
        };
    },

    methods: {
        formSubmit() {
            const file = (this.$refs.filepicker as HTMLInputElement).files;
            if (file) {
                const data = new FormData();
                data.append("name", this.fileTitle);
                data.append("file", file[0]);

                uploadFile(data).then(() => {
                    this.fileTitle = "";
                    (this.$refs.filepicker as HTMLInputElement).value = "";
                }).catch(() => {
                    this.fileTitle = "failed to upload";
                });
            }
        }
    },
    async mounted() {
        const data = await getFiles();

        console.log("files are " + data.data);
    }
});
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
